@font-face {
  font-family: "Arial";
  src: url("../fonts/arial.eot")  format("eot"),
      url("../fonts/arial.ttf")   format("ttf"),
      url("../fonts/arial.woff")  format("woff"),
      url("../fonts/arial.woff2") format("woff2");
  font-display: swap;
}
