.faq_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    .faq_wrap {
        box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
        background: #fff;
        padding: 20px 35px;
        @media (max-width: 990px) {
            padding: 15px;
        }
        .faq_title {
            color: #151515;
            font: bold 1.1rem "Arial";
            margin-bottom: 12px;
            @media (max-width: 990px) {
                font-size: 1rem;
            }
        }
        .faq_box {
            display: flex;
            .letter {
                font: bold 1.1rem "Arial";
                margin-right: 5px;
                @media (max-width: 990px) {
                    font-size: 1rem;
                }
            }
        }
    }
}